talbe {
    border-collapse: collapse;
    border-spacing: 0px;
    border-color: black;
}
th {
    padding: 0 10px;
    border: 1px solid #DDD;
    vertical-align: middle;
    text-align: center;
    fon-weight: bold;
}
td {
    padding: 0 10px;
    border: 1px solid #DDD;
    vertical-align: middle;
}
table tr:nth-child(odd) td {
    background: #f2f2f2;
}

pre>code {
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
    font-size: 14px;
    line-height: 1.2;
    padding: 10px;
    white-space: pre-line;
}

pre>code.hl {
    background: #f4f4ff;
}

pre {
    margin: 1em;
    padding: .5em;
}

pre>pre {
    background: #fcfcfc;
    border: 1px solid #ccc;
}

article {
    margin: 2em;
}
h1 {
position: relative;
background: #f1f8ff;
padding: 0.25em 0.5em;
border-left: solid 2em #5c9ee7;
  border-radius: 5px;
}

h1:before {
font-family: FontAwesome;
content: "\f1ea"; /* 新聞 */
/*content: "\f040";*/ /* 鉛筆 */
position: absolute;
padding: 0em;
color: white;
font-weight: normal;
left: -1.35em;
top: 50%;
-moz-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}

body {
  counter-reset: titleNum;
}

h2 {
  counter-increment: titleNum;
  position: relative;
  /*padding: 0 0 .5em 2em;*/
  background: #f1fff5;
  padding: .5em 2em;
  border: 1px solid #ccc;
  border-radius: 5px;
}
h2::before {
  position: absolute;
  top: .6em;
  left: .5em;
  content: counter(titleNum);
  width: 28px;
  height: 28px;
  line-height: 28px;
  background: #a1a8af;
  /*background-color: #ccc;*/
  border-radius: 100%;
  color: #fff;
  font-size: .9em;
  text-align: center;
}

jsn-md {
    font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

.err {
    color: #ff0000;
}

.group01 {
  position: relative;
  padding: .5em 2em;
  border: 3px solid #8c8;
  border-radius: 5px;
}

.group02 {
  position: relative;
  padding: .5em 2em;
  border: 3px solid #88c;
  border-radius: 5px;
}

.graph01 {
    background: #f1fff5;
}

.graph02 {
    background: #f1fff5;
}
