talbe {
    border-collapse: collapse;
    border-spacing: 0px;
    border-color: black;
}
th {
    padding: 0 10px;
    border: 1px solid #DDD;
    vertical-align: middle;
    text-align: center;
    fon-weight: bold;
}
td {
    padding: 0 10px;
    border: 1px solid #DDD;
    vertical-align: middle;
}
table tr:nth-child(odd) td {
    background: #f2f2f2;
}

pre>code {
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
    font-size: 14px;
    line-height: 1.2;
    padding: 10px;
}