doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    title= title
    link(rel='preload' as='style' href='./css/jsnotebook.css')
    link(rel='preload' as='script' href='./js/bundle.js')

    link(rel='stylesheet' type='text/css' href='./css/jsnotebook.css')
    script(type='text/javascript' src='./js/bundle.js')
  body
    != contents
